<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div th:fragment="appointment-details" class="grid gap-6 mt-4 p-2">
        <!-- Seção de Detalhes do Agendamento -->
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
            <p class="flex flex-col">
                <span class="font-semibold text-sm text-slate-700">Data do agendamento:</span>
                <span class="px-4 py-2 text-sm text-slate-700 bg-slate-100 rounded-lg"
                      th:text="${isContemplated} ? *{#temporals.format(appointment.requestDate, 'dd/MM/yyyy HH:mm:ss')} : *{#temporals.format(requestDate, 'dd/MM/yyyy HH:mm:ss')}"></span>
            </p>

            <p class="flex flex-col">
                <span class="font-semibold text-sm text-slate-700">Marcação:</span>
                <span class="px-4 py-2 text-sm text-slate-700 bg-slate-100 rounded-lg"
                      th:text="${isContemplated} ? *{appointment.medicalProcedure.procedureType.getDescription()} : *{medicalProcedure.procedureType.getDescription()}"></span>
            </p>

            <th:block th:if="${isContemplated}">
                <th:block th:if="*{appointment.medicalProcedure.procedureType.getDescription() != T(br.com.tecsus.sigaubs.enums.ProcedureType).CONSULTA.getDescription()}">
                    <p class="flex flex-col">
                        <span class="font-semibold text-sm text-slate-700">Procedimento:</span>
                        <span class="px-4 py-2 text-sm text-slate-700 bg-slate-100 rounded-lg">[[*{appointment.medicalProcedure.description}]]</span>
                    </p>
                </th:block>
            </th:block>
            <th:block th:unless="${isContemplated}">
                <th:block th:if="*{medicalProcedure.procedureType.getDescription() != T(br.com.tecsus.sigaubs.enums.ProcedureType).CONSULTA.getDescription()}">
                    <p class="flex flex-col">
                        <span class="font-semibold text-sm text-slate-700">Procedimento:</span>
                        <span class="px-4 py-2 text-sm text-slate-700 bg-slate-100 rounded-lg">[[*{medicalProcedure.description}]]</span>
                    </p>
                </th:block>
            </th:block>

            <p class="flex flex-col">
                <span class="font-semibold text-sm text-slate-700">Prioridade:</span>
                <span class="px-4 py-2 text-sm text-slate-700 bg-slate-100 rounded-lg"
                      th:text="${isContemplated} ? *{appointment.priority.getDescription()} : *{priority.getDescription()}"></span>
            </p>

            <p class="flex flex-col col-span-full">
                <span class="font-semibold text-sm text-slate-700">Observações:</span>
                <span class="px-4 py-2 text-sm text-slate-700 bg-slate-100 rounded-lg"
                      th:text="${isContemplated} ? *{appointment.observation} : *{observation}"></span>
            </p>
        </div>

        <!-- Seção de Contemplação -->
        <div class="grid gap-4">
            <h3 class="text-sm font-semibold text-slate-200 bg-slate-900 p-2 rounded-lg border-2 border-slate-600">Contemplação</h3>

            <th:block th:if="${isContemplated}">
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 items-center">
                    <p class="flex flex-col">
                        <span class="font-semibold text-sm text-slate-700">Motivo de Contemplação:</span>
                        <span class="px-4 py-2 text-sm text-slate-700 bg-slate-100 rounded-lg">[[*{appointment.contemplation.contemplatedBy.getDescription()}]]</span></p>
                    <p class="flex flex-col">
                        <span class="font-semibold text-sm text-slate-700">Status:</span>
                        <span class="px-4 py-2 text-sm text-slate-700 bg-slate-100 rounded-lg">[[*{appointment.status.getDescription()}]]</span></p>
                    <p class="flex flex-col">
                        <span class="font-semibold text-sm text-slate-700">Observações:</span>
                        <span class="px-4 py-2 text-sm text-slate-700 bg-slate-100 rounded-lg">[[*{appointment.contemplation.observation}]]</span></p>
                    <form id="confirmForm" th:action="@{/contemplation-management/confirm}" th:method="post" class="justify-self-end">
                        <input type="hidden" th:name="ubs" th:value="${selectedUBS}">
                        <input type="hidden" th:name="specialty" th:value="${selectedSpecialty}">
                        <input type="hidden" th:name="month" th:value="${selectedMonth}">
                        <input type="hidden" th:name="contemplationId" th:value="${contemplated.id}">
                        <button type="button" class="text-sm inline-block rounded-lg bg-green-600 py-2.5 px-6 text-white cursor-pointer hover:bg-green-500 active:bg-green-400 transition duration-300"
                                onclick="handleConfirmation()">
                            Confirmar Presença
                        </button>
                    </form>
                    <form id="cancelForm" th:action="@{/contemplation-management/cancel}" th:method="post" class="justify-self-end">
                        <input type="hidden" th:name="ubs" th:value="${selectedUBS}">
                        <input type="hidden" th:name="specialty" th:value="${selectedSpecialty}">
                        <input type="hidden" th:name="month" th:value="${selectedMonth}">
                        <input type="hidden" th:name="contemplationId" th:value="${contemplated.id}">
                        <input type="hidden" id="reason" th:name="reason" value="">
                        <button type="button" class="text-sm inline-block rounded-lg bg-red-600 py-2.5 px-6 text-white cursor-pointer hover:bg-red-500 active:bg-red-400 transition duration-300"
                                onclick="handleCancel()">
                            Cancelar
                        </button>
                    </form>
                </div>

            </th:block>
            <th:block th:unless="${isContemplated}">
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 items-center">
                    <p class="flex flex-col">
                        <span class="font-semibold text-sm text-slate-700">Vagas disponíveis:</span>
                        <span class="px-4 py-2 text-sm text-slate-700 bg-slate-100 rounded-lg">[[${availableSlots}]]</span>
                    </p>

                    <form id="contemplationForm" th:action="@{/queue-management/v2/contemplate}" th:method="post" class="justify-self-end">
                        <input type="hidden" th:name="ubs" th:value="${selectedUBS}">
                        <input type="hidden" th:name="specialty" th:value="${selectedSpecialty}">
                        <input type="hidden" th:name="medicalProcedure" th:value="${selectedMedicalProcedure}">
                        <input type="hidden" th:name="procedureType" th:value="${selectedProcedureType}">
                        <input type="hidden" th:name="appointmentId" th:value="${appointment.id}">
                        <input type="hidden" th:name="medicalSlotId" th:value="${medicalSlotId}">
                        <input type="hidden" id="reason" th:name="reason" value="">
                        <button type="button"
                                class="text-sm inline-block rounded-lg py-2.5 px-6 text-white cursor-pointer transition duration-300"
                                th:classappend="${availableSlots eq 0} ? 'bg-gray-600 opacity-50': 'bg-green-600 hover:bg-green-500 active:bg-green-400'"
                                onclick="handleContemplation()"
                                th:disabled="${availableSlots eq 0}">
                            Contemplar Paciente
                        </button>
                    </form>
                </div>
            </th:block>
        </div>
    </div>
</body>
</html>