<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div th:fragment="status-details" class="p-4">
        <h3 class="text-sm font-semibold text-slate-800 mb-4">Histórico de Status</h3>

        <div class="max-h-[400px] overflow-y-auto overflow-x-auto rounded-lg">
            <table class="min-w-full bg-white">
                <thead class="font-light text-sm text-slate-600 text-left tracking-wide">
                <tr class="bg-slate-200">
                    <th class="text-sm rounded-l-lg py-2 px-4">N.</th>
                    <th class="text-sm pl-4">Status</th>
                    <th class="text-sm pl-4">Data</th>
                    <th class="text-sm rounded-r-lg py-2 px-4">Usuário</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="st, iStat : ${contemplated.appointment.appointmentStatusHistory}"
                    class="overflow-hidden border-slate-200 text-slate-600 w-full hover:bg-slate-50 active:bg-slate-200">
                    <td class="border-b text-sm py-2 px-4"
                        th:text="${iStat.count}"></td>
                    <td class="border-b text-sm pl-4"
                        th:text="${st.status.getDescription()}"></td>
                    <td class="border-b text-sm pl-4"
                        th:text="${#temporals.format(st.creationDate, 'dd/MM/yyyy HH:mm')}"></td>
                    <td class="border-b text-sm py-2 px-4"
                        th:text="${st.creationUser}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>