<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <!-- Main modal -->
    <div id="patientAppointment-modal" th:fragment="patientAppointmentInfo" tabindex="-1" aria-hidden="true"
         class="flex opacity-100 overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-30 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">

        <!-- Backdrop escurecido -->
        <div class="fixed inset-0 bg-black opacity-50"></div>

        <div class="relative p-4 w-3/4 max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow-2xl">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 bg-slate-900 rounded-t border-2 border-slate-600">
                    <h3 class="text-xl font-semibold text-slate-200">
                        Detalhes do paciente
                    </h3>
                    <button type="button" onclick="closeModal()"
                            class="text-slate-400 bg-transparent hover:bg-slate-700 hover:text-white rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Abas -->
                <div class="flex space-x-1 border-b border-slate-300 mb-4">
                    <button class="w-1/3 py-2 text-sm text-center bg-slate-200 hover:bg-slate-300 rounded-t-lg focus:outline-none focus:bg-slate-300 transition duration-200"
                            onclick="showModalTab('patient-details')">
                        Informações do paciente
                    </button>
                    <button class="w-1/3 py-2 text-sm text-center bg-slate-200 hover:bg-slate-300 rounded-t-lg focus:outline-none focus:bg-slate-300 transition duration-200"
                            onclick="showModalTab('appointment-details')">
                        Informações do agendamento
                    </button>
                    <th:block th:if="${isContemplated}">
                        <button class="w-1/3 py-2 text-sm text-center bg-slate-200 hover:bg-slate-300 rounded-t-lg focus:outline-none focus:bg-slate-300 transition duration-200"
                                onclick="showModalTab('status-details')">
                            Historico de Status
                        </button>
                    </th:block>
                    <th:block th:unless="${isContemplated}">
                        <button class="w-1/3 py-2 text-sm text-center bg-slate-200 hover:bg-slate-300 rounded-t-lg focus:outline-none focus:bg-slate-300 transition duration-200"
                                onclick="showModalTab('patientHistory-details')">
                            Historico do paciente
                        </button>
                    </th:block>
                </div>
                <div id="contentPanel" th:object="${isContemplated ? contemplated : appointment}">
                    <div id="patient-details" class="p-1 bg-white">
                        <div th:replace="~{queueManagement/queueFragments/patient-tab :: patient-details}"></div>
                    </div>
                    <div id="appointment-details" class="p-4 bg-white hidden">
                        <div th:replace="~{queueManagement/queueFragments/appointment-tab :: appointment-details}"></div>
                    </div>
                    <th:block th:if="${isContemplated}">
                        <div id="status-details" class="p-4 bg-white hidden">
                            <div th:replace="~{queueManagement/queueFragments/appointmentStatusHistory-tab :: status-details}"></div>
                        </div>
                    </th:block>
                    <th:block th:unless="${isContemplated}">
                        <div id="patientHistory-details" class="p-4 bg-white hidden">
                            <div th:replace="~{queueManagement/queueFragments/patientHistory-tab :: patientHistory-details}"></div>
                        </div>
                    </th:block>
                </div>

            </div>
        </div>
    </div>

</body>
</html>