<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div th:fragment="patientHistory-details" class="p-4">
        <h3 class="text-sm font-semibold text-slate-800 mb-4">Outros agendamentos em aberto</h3>

        <div class="max-h-[400px] overflow-y-auto overflow-x-auto rounded-lg">
            <table class="min-w-full bg-white">
                <thead class="font-light text-sm text-slate-600 text-left tracking-wide">
                <tr class="bg-slate-200">
                    <th class="text-sm rounded-l-lg py-2 px-4">Data da Requisição</th>
                    <th class="text-sm pl-4">Prioridade</th>
                    <th class="text-sm pl-4">Marcação</th>
                    <th class="text-sm pl-4">Especialidade</th>
                    <th class="text-sm pl-4">Procedimento</th>
                    <th class="text-sm rounded-r-lg py-2 px-4">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(patientOpenAppointments)}"
                    class="overflow-hidden border-slate-200 text-slate-600 w-full hover:bg-slate-50">
                    <td colspan="6" class="border-b text-sm py-8 px-4 text-center text-slate-500">
                        Nenhum agendamento em aberto encontrado.
                    </td>
                </tr>
                <tr th:each="openAppt : ${patientOpenAppointments}"
                    class="overflow-hidden border-slate-200 text-slate-600 w-full hover:bg-slate-50 active:bg-slate-200">
                    <td class="border-b text-sm py-2 px-4"
                        th:text="${openAppt.formattedRequestDate()}"></td>
                    <td class="border-b text-sm pl-4"
                        th:text="${openAppt.priority().getDescription()}"></td>
                    <td class="border-b text-sm pl-4"
                        th:text="${openAppt.procedureType().getDescription()}"></td>
                    <td class="border-b text-sm pl-4"
                        th:text="${openAppt.specialty()}"></td>
                    <td class="border-b text-sm pl-4"
                        th:text="${openAppt.medicalProcedureDescription()}"></td>
                    <td class="border-b text-sm py-2 px-4">
                        <div class="relative group">
                            <button type="button"
                                    th:onclick="openModal([[${openAppt.observations()}]])"
                                    class="inline-flex p-2 rounded-lg hover:bg-slate-200 cursor-pointer transition duration-300">
                                <span class="material-symbols-outlined hover:text-blue-500">description</span>
                            </button>
                            <div class="absolute right-full top-1/2 transform -translate-y-1/2 -translate-x-1 hidden group-hover:block bg-slate-800 text-white text-sm rounded px-2 py-1 whitespace-nowrap">
                                Observações
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>