<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>

    <div id="consultas" th:fragment="consultas-datatable" class="tab-content p-4 bg-gray-100">
        <div class="overflow-x-auto">
        <table class="min-w-full bg-white divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr class="bg-gray-700 text-white">
                <th class="px-4 py-2 text-left text-sm font-medium uppercase tracking-wider">N.</th>
                <th class="px-4 py-2 text-left text-sm font-medium uppercase tracking-wider">Paciente</th>
                <th class="px-4 py-2 text-left text-sm font-medium uppercase tracking-wider">Agendamento</th>
                <th class="px-4 py-2 text-left text-sm font-medium uppercase tracking-wider">Prioridade</th>
                <th class="px-4 py-2 text-left text-sm font-medium uppercase tracking-wider">Idade</th>
                <th class="px-4 py-2 text-left text-sm font-medium uppercase tracking-wider">Situação Social</th>
                <th class="px-4 py-2 text-left text-sm font-medium uppercase tracking-wider">Sexo</th>
                <th class="px-4 py-2 text-left text-sm font-medium uppercase tracking-wider">Ações</th>
            </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
            <tr th:each="cp, iStat : ${consultasPage}">
                <td class="px-4 py-2 text-gray-700"
                    th:text="${consultasPage.number eq 0 ? iStat.index + 1 : (iStat.index + 1) + (consultasPage.number * consultasPage.size)}"></td>
                <td class="px-4 py-2 text-gray-700" th:text="${cp.patientName}"></td>
                <td class="px-4 py-2 text-gray-700" th:text="${#temporals.format(cp.requestDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
                <td class="px-4 py-2 text-gray-700" th:text="${cp.priority.getDescription()}"></td>
                <td class="px-4 py-2 text-gray-700" th:text="${cp.getBirthDateWithAge()}"></td>
                <td class="px-4 py-2 text-gray-700" th:text="${cp.patientSocialSituationRating.getDescription()}"></td>
                <td class="px-4 py-2 text-gray-700" th:text="${cp.patientGender}"></td>
                <td class="px-4 py-2 text-gray-700">
                    <a th:attrappend="hx-get=@{/queue-management/{id}/load(id = ${cp.appointmentId}, ubs = ${selectedUBS}, specialty = ${selectedSpecialty})}"
                       hx-target="#patientAppointment-modal"
                       hx-swap="outerHTML"
                       href=""
                       class="flex items-center bg-indigo-500 text-white px-2 py-1 rounded-md hover:bg-indigo-400 focus:outline-none transition-colors duration-300"
                       title="Ver Detalhes">
                        <div class="flex items-center w-full">
                            <span class="material-symbols-outlined px-2">edit_note</span>
                        </div>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <div id="consultasPaginationPanel" th:if="${consultasPage.totalPages > 0}"
             class="flex items-center justify-between mt-4 p-4 bg-white border border-gray-300 rounded-lg shadow-md">
            <div class="flex items-center space-x-2">
                <label for="consultasPageSize" class="text-sm font-medium text-gray-700">Linhas por página:</label>
                <select id="consultasPageSize" name="consultasPageSize"
                        th:attrappend="hx-get=@{/queue-management/paginated(page = ${consultasPage.number}, ubs = ${selectedUBS}, specialty = ${selectedSpecialty}, type = 'CONSULTA')}"
                        hx-target="#consultas"
                        hx-swap="outerHTML"
                        class="border-gray-300 rounded-md shadow-md focus:ring-gray-500 focus:border-gray-500 p-2">
                    <option th:value="${10}" th:selected="${consultasPage.size == 10}">10</option>
                    <option th:value="${15}" th:selected="${consultasPage.size == 15}">15</option>
                    <option th:value="${30}" th:selected="${consultasPage.size == 30}">30</option>
                </select>
            </div>
            <div class="flex items-center space-x-4">
                <button id="consultasPrevPage"
                        th:disabled="${!consultasPage.hasPrevious()}"
                        th:attrprepend="hx-get=@{/queue-management/paginated(page = ${consultasPage.number - 1}, ubs = ${selectedUBS}, specialty = ${selectedSpecialty}, type = 'CONSULTA')}"
                        hx-target="#consultas"
                        hx-include="[name='consultasPageSize']"
                        hx-trigger="click"
                        hx-swap="outerHTML"
                        class="px-4 py-2 bg-gray-700 text-white font-semibold rounded-md shadow-md hover:bg-gray-600 disabled:opacity-50 disabled:cursor-not-allowed focus:ring-2 focus:ring-gray-400">
                    Anterior
                </button>
                <span class="text-sm text-gray-700">
                    Página <span id="consultasCurrentPage" th:text="${consultasPage.number + 1}">1</span> de
                    <span th:text="${consultasPage.totalPages}">Muitos</span>
                </span>
                <button id="consultasNextPage"
                        th:disabled="${!consultasPage.hasNext()}"
                        th:attrprepend="hx-get=@{/queue-management/paginated(page = ${consultasPage.number + 1}, ubs = ${selectedUBS}, specialty = ${selectedSpecialty}, type = 'CONSULTA')}"
                        hx-target="#consultas"
                        hx-include="[name='consultasPageSize']"
                        hx-trigger="click"
                        hx-swap="outerHTML"
                        class="px-4 py-2 bg-gray-700 text-white font-semibold rounded-md shadow-md hover:bg-gray-600 disabled:opacity-50 disabled:cursor-not-allowed focus:ring-2 focus:ring-gray-400">
                    Próximo
                </button>
            </div>
        </div>
    </div>

    <div id="exames" th:fragment="exames-datatable" class="tab-content p-4 bg-gray-100" th:classappend="${hide}">
        <div class="overflow-x-auto">
        <table class="min-w-full bg-white divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr class="bg-gray-700 text-white">
                <th class="px-4 py-2 text-left text-sm font-medium uppercase tracking-wider">N.</th>
                <th class="px-4 py-2 text-left text-sm font-medium uppercase tracking-wider">Paciente</th>
                <th class="px-4 py-2 text-left text-sm font-medium uppercase tracking-wider">Agendamento</th>
                <th class="px-4 py-2 text-left text-sm font-medium uppercase tracking-wider">Prioridade</th>
                <th class="px-4 py-2 text-left text-sm font-medium uppercase tracking-wider">Idade</th>
                <th class="px-4 py-2 text-left text-sm font-medium uppercase tracking-wider">Situação Social</th>
                <th class="px-4 py-2 text-left text-sm font-medium uppercase tracking-wider">Sexo</th>
                <th class="px-4 py-2 text-left text-sm font-medium uppercase tracking-wider">Ações</th>
            </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
            <tr th:each="exp, iStat : ${examesPage}">
                <td class="px-4 py-2 text-gray-700"
                    th:text="${examesPage.number eq 0 ? iStat.index + 1 : (iStat.index + 1) + (examesPage.number * examesPage.size)}"></td>
                <td class="px-4 py-2 text-gray-700" th:text="${exp.patientName}"></td>
                <td class="px-4 py-2 text-gray-700" th:text="${#temporals.format(exp.requestDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
                <td class="px-4 py-2 text-gray-700" th:text="${exp.priority.getDescription()}"></td>
                <td class="px-4 py-2 text-gray-700" th:text="${exp.getBirthDateWithAge()}"></td>
                <td class="px-4 py-2 text-gray-700" th:text="${exp.patientSocialSituationRating.getDescription()}"></td>
                <td class="px-4 py-2 text-gray-700" th:text="${exp.patientGender}"></td>
                <td class="px-4 py-2 text-gray-700">
                    <a th:attrappend="hx-get=@{/queue-management/{id}/load(id = ${exp.appointmentId}, ubs = ${selectedUBS}, specialty = ${selectedSpecialty})}"
                       hx-target="#patientAppointment-modal"
                       hx-swap="outerHTML"
                       href=""
                       class="flex items-center bg-indigo-500 text-white px-2 py-1 rounded-md hover:bg-indigo-400 focus:outline-none transition-colors duration-300"
                       title="Ver Detalhes">
                        <div class="flex items-center w-full">
                            <span class="material-symbols-outlined px-2">edit_note</span>
                        </div>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <div id="examesPaginationPanel" th:if="${examesPage.totalPages > 0}"
             class="flex items-center justify-between mt-4 p-4 bg-white border border-gray-300 rounded-lg shadow-md">
            <div class="flex items-center space-x-2">
                <label for="examesPageSize" class="text-sm font-medium text-gray-700">Linhas por página:</label>
                <select id="examesPageSize" name="examesPageSize"
                        th:attrappend="hx-get=@{/queue-management/paginated(page = ${examesPage.number}, ubs = ${selectedUBS}, specialty = ${selectedSpecialty}, type = 'EXAME')}"
                        hx-target="#exames"
                        hx-swap="outerHTML"
                        class="border-gray-300 rounded-md shadow-md focus:ring-gray-500 focus:border-gray-500 p-2">
                    <option th:value="${10}" th:selected="${examesPage.size == 10}">10</option>
                    <option th:value="${15}" th:selected="${examesPage.size == 15}">15</option>
                    <option th:value="${30}" th:selected="${examesPage.size == 30}">30</option>
                </select>
            </div>
            <div class="flex items-center space-x-4">
                <button id="examesPrevPage"
                        th:disabled="${!examesPage.hasPrevious()}"
                        th:attrprepend="hx-get=@{/queue-management/paginated(page = ${examesPage.number - 1}, ubs = ${selectedUBS}, specialty = ${selectedSpecialty}, type = 'EXAME')}"
                        hx-target="#exames"
                        hx-include="[name='examesPageSize']"
                        hx-trigger="click"
                        hx-swap="outerHTML"
                        class="px-4 py-2 bg-gray-700 text-white font-semibold rounded-md shadow-md hover:bg-gray-600 disabled:opacity-50 disabled:cursor-not-allowed focus:ring-2 focus:ring-gray-400">
                    Anterior
                </button>
                <span class="text-sm text-gray-700">
                    Página <span id="examesCurrentPage" th:text="${examesPage.number + 1}">1</span> de
                    <span th:text="${examesPage.totalPages}">Muitos</span>
                </span>
                <button id="examesNextPage"
                        th:disabled="${!examesPage.hasNext()}"
                        th:attrprepend="hx-get=@{/queue-management/paginated(page = ${examesPage.number + 1}, ubs = ${selectedUBS}, specialty = ${selectedSpecialty}, type = 'EXAME')}"
                        hx-target="#exames"
                        hx-include="[name='examesPageSize']"
                        hx-trigger="click"
                        hx-swap="outerHTML"
                        class="px-4 py-2 bg-gray-700 text-white font-semibold rounded-md shadow-md hover:bg-gray-600 disabled:opacity-50 disabled:cursor-not-allowed focus:ring-2 focus:ring-gray-400">
                    Próximo
                </button>
            </div>
        </div>
    </div>

    <div id="cirurgias" th:fragment="cirurgias-datatable" class="tab-content p-4 bg-gray-100" th:classappend="${hide}">
        <div class="overflow-x-auto">
        <table class="min-w-full bg-white divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr class="bg-gray-700 text-white">
                <th class="px-4 py-2 text-left text-sm font-medium uppercase tracking-wider">N.</th>
                <th class="px-4 py-2 text-left text-sm font-medium uppercase tracking-wider">Paciente</th>
                <th class="px-4 py-2 text-left text-sm font-medium uppercase tracking-wider">Agendamento</th>
                <th class="px-4 py-2 text-left text-sm font-medium uppercase tracking-wider">Prioridade</th>
                <th class="px-4 py-2 text-left text-sm font-medium uppercase tracking-wider">Idade</th>
                <th class="px-4 py-2 text-left text-sm font-medium uppercase tracking-wider">Situação Social</th>
                <th class="px-4 py-2 text-left text-sm font-medium uppercase tracking-wider">Sexo</th>
                <th class="px-4 py-2 text-left text-sm font-medium uppercase tracking-wider">Ações</th>
            </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
            <tr th:each="crp, iStat : ${cirurgiasPage}">
                <td class="px-4 py-2 text-gray-700"
                    th:text="${cirurgiasPage.number eq 0 ? iStat.index + 1 : (iStat.index + 1) + (cirurgiasPage.number * cirurgiasPage.size)}"></td>
                <td class="px-4 py-2 text-gray-700" th:text="${crp.patientName}"></td>
                <td class="px-4 py-2 text-gray-700" th:text="${#temporals.format(crp.requestDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
                <td class="px-4 py-2 text-gray-700" th:text="${crp.priority.getDescription()}"></td>
                <td class="px-4 py-2 text-gray-700" th:text="${crp.getBirthDateWithAge()}"></td>
                <td class="px-4 py-2 text-gray-700" th:text="${crp.patientSocialSituationRating.getDescription()}"></td>
                <td class="px-4 py-2 text-gray-700" th:text="${crp.patientGender}"></td>
                <td class="px-4 py-2 text-gray-700">
                    <a th:attrappend="hx-get=@{/queue-management/{id}/load(id = ${crp.appointmentId}, ubs = ${selectedUBS}, specialty = ${selectedSpecialty})}"
                       hx-target="#patientAppointment-modal"
                       hx-swap="outerHTML"
                       href=""
                       class="flex items-center bg-indigo-500 text-white px-2 py-1 rounded-md hover:bg-indigo-400 focus:outline-none transition-colors duration-300"
                       title="Ver Detalhes">
                        <div class="flex items-center w-full">
                            <span class="material-symbols-outlined px-2">edit_note</span>
                        </div>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <div id="cirurgiasPaginationPanel" th:if="${cirurgiasPage.totalPages > 0}"
             class="flex items-center justify-between mt-4 p-4 bg-white border border-gray-300 rounded-lg shadow-md">
            <div class="flex items-center space-x-2">
                <label for="cirurgiasPageSize" class="text-sm font-medium text-gray-700">Linhas por página:</label>
                <select id="cirurgiasPageSize" name="cirurgiasPageSize"
                        th:attrappend="hx-get=@{/queue-management/paginated(page = ${cirurgiasPage.number}, ubs = ${selectedUBS}, specialty = ${selectedSpecialty}, type = 'CIRURGIA')}"
                        hx-target="#cirurgias"
                        hx-swap="outerHTML"
                        class="border-gray-300 rounded-md shadow-md focus:ring-gray-500 focus:border-gray-500 p-2">
                    <option th:value="${10}" th:selected="${cirurgiasPage.size == 10}">10</option>
                    <option th:value="${15}" th:selected="${cirurgiasPage.size == 15}">15</option>
                    <option th:value="${30}" th:selected="${cirurgiasPage.size == 30}">30</option>
                </select>
            </div>
            <div class="flex items-center space-x-4">
                <button id="cirurgiasPrevPage"
                        th:disabled="${!cirurgiasPage.hasPrevious()}"
                        th:attrprepend="hx-get=@{/queue-management/paginated(page = ${cirurgiasPage.number - 1}, ubs = ${selectedUBS}, specialty = ${selectedSpecialty}, type = 'CIRURGIA')}"
                        hx-target="#cirurgias"
                        hx-include="[name='cirurgiasPageSize']"
                        hx-trigger="click"
                        hx-swap="outerHTML"
                        class="px-4 py-2 bg-gray-700 text-white font-semibold rounded-md shadow-md hover:bg-gray-600 disabled:opacity-50 disabled:cursor-not-allowed focus:ring-2 focus:ring-gray-400">
                    Anterior
                </button>
                <span class="text-sm text-gray-700">
                    Página <span id="cirurgiasCurrentPage" th:text="${cirurgiasPage.number + 1}">1</span> de
                    <span th:text="${cirurgiasPage.totalPages}">Muitos</span>
                </span>
                <button id="cirurgiasNextPage"
                        th:disabled="${!cirurgiasPage.hasNext()}"
                        th:attrprepend="hx-get=@{/queue-management/paginated(page = ${cirurgiasPage.number + 1}, ubs = ${selectedUBS}, specialty = ${selectedSpecialty}, type = 'CIRURGIA')}"
                        hx-target="#cirurgias"
                        hx-include="[name='cirurgiasPageSize']"
                        hx-trigger="click"
                        hx-swap="outerHTML"
                        class="px-4 py-2 bg-gray-700 text-white font-semibold rounded-md shadow-md hover:bg-gray-600 disabled:opacity-50 disabled:cursor-not-allowed focus:ring-2 focus:ring-gray-400">
                    Próximo
                </button>
            </div>
        </div>
    </div>
</body>
</html>