<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments/template :: head}"></head>
<body>

    <div th:fragment="dropdownUser"
         th:each="user : ${users}"
         class="w-full p-2 text-sm text-slate-700 hover:bg-slate-100 cursor-pointer transition duration-200">
        <span th:text="${user.name}"></span>
        <input type="hidden" th:value="${user.id}">
    </div>

</body>
</html>