<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments/template :: head}"></head>
<body>
    <div th:fragment="systemUsersUBStable">
        <div class="overflow-x-auto">
        <table class="min-w-full bg-white">
            <thead class="font-light text-sm text-slate-600 text-left tracking-wide">
            <tr class="bg-slate-200">
                <th class="text-sm rounded-l-lg py-2 px-4">Nome</th>
                <th class="text-sm pl-4">Perfil</th>
                <th class="text-sm pl-4">Ativo</th>
                <th class="text-sm rounded-r-lg py-2 px-4">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ubsUser : ${ubsUsers}"
                class="overflow-hidden border-slate-200 text-slate-600 w-full hover:bg-slate-50 active:bg-slate-200">
                <td class="border-b text-sm py-2 px-4" th:text="${ubsUser.name}"></td>
                <td class="border-b text-sm pl-4" th:text="${ubsUser.role}"></td>
                <td class="border-b text-sm pl-4" th:text="${ubsUser.active}"></td>
                <td class="border-b text-sm py-2 px-4">
                    <form hx-post="/basicHealthUnit-management/systemUser/delete"
                          hx-target="#systemUsersUBStable"
                          hx-include="[name='basicHealthUnit']">
                        <input type="hidden" name="id" th:value="${ubsUser.id}"/>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <div class="relative group">
                            <button type="submit" class="inline-flex p-2 rounded-lg hover:bg-slate-200 cursor-pointer transition duration-300">
                                <span class="material-symbols-outlined hover:text-red-500">link_off</span>
                            </button>
                            <div class="absolute right-full top-1/2 transform -translate-y-1/2 -translate-x-1 hidden group-hover:block bg-slate-800 text-white text-sm rounded px-2 py-1">
                                Desvincular
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <p th:if="${attach_message}" class="text-sm text-slate-600 mt-2" th:text="${attach_message}"></p>
    </div>

    <div th:fragment="emptySystemUsersUBStable">
        <div class="overflow-x-auto">
        <table class="min-w-full bg-white">
            <thead class="font-light text-sm text-slate-600 text-left tracking-wide">
            <tr class="bg-slate-200">
                <th class="text-sm rounded-l-lg py-2 px-4">Nome</th>
                <th class="text-sm pl-4">Perfil</th>
                <th class="text-sm pl-4">Ativo</th>
                <th class="text-sm rounded-r-lg py-2 px-4">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr class="overflow-hidden border-slate-200 text-slate-600 w-full hover:bg-slate-50 active:bg-slate-200">
                <td class="border-b text-sm py-2 px-4" colspan="4">Sem registro</td>
            </tr>
            </tbody>
        </table>
        </div>
        <p th:if="${unlink_message}" class="text-sm text-slate-600 mt-2" th:text="${unlink_message}"></p>
    </div>
</body>
</html>