<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>
    <div th:fragment="medicalSlotsDatatable" id="medicalSlotsDatatable">
        <div class="overflow-x-auto">
        <table class="min-w-full bg-white">
            <thead class="font-light text-sm text-slate-600 text-left tracking-wide">
            <tr class="bg-slate-200">
                <th class="text-sm rounded-l-lg py-2 px-4">N.</th>
                <th class="text-sm pl-4">UBS</th>
                <th class="text-sm pl-4">Mês Ref.</th>
                <th class="text-sm pl-4">Vagas</th>
                <th class="text-sm pl-4">Especialidade</th>
                <th class="text-sm pl-4">Marcação</th>
                <th class="text-sm pl-4">Procedimento</th>
                <th class="text-sm pl-4">Data do Cadastro</th>
                <th class="text-sm rounded-r-lg py-2 px-4">Usuário</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ms, iStat : ${medicalSlotsPage}"
                class="overflow-hidden border-slate-200 text-slate-600 w-full hover:bg-slate-50 active:bg-slate-200">
                <td class="border-b text-sm py-2 px-4"
                    th:text="${medicalSlotsPage.number eq 0 ? iStat.index + 1 : (iStat.index + 1) + (medicalSlotsPage.number * medicalSlotsPage.size)}"></td>
                <td class="border-b text-sm pl-4" th:text="${ms.basicHealthUnit.name}"></td>
                <td class="border-b text-sm pl-4" th:text="${#temporals.monthNameShort(ms.referenceMonth) + ' de ' + #temporals.year(ms.referenceMonth) }"></td>
                <td class="border-b text-sm pl-4 text-center" th:text="${ms.totalSlots}"></td>
                <td class="border-b text-sm pl-4" th:text="${ms.medicalProcedure.specialty.title}"></td>
                <td class="border-b text-sm pl-4" th:text="${ms.medicalProcedure.procedureType.getDescription()}"></td>
                <td class="border-b text-sm pl-4" th:text="${ms.medicalProcedure.description}"></td>
                <td class="border-b text-sm pl-4" th:text="${#temporals.format(ms.creationDate, 'dd/MM/yyyy HH:mm')}"></td>
                <td class="border-b text-sm py-2 px-4" th:text="${ms.creationUser}"></td>
            </tr>
            </tbody>
        </table>
        </div>
        <div id="paginationPanel" th:if="${medicalSlotsPage.totalPages > 0}"
             class="flex flex-1 mt-4 justify-between items-center bg-white">
            <div>
                <label class="text-sm text-slate-500">Linhas por página:</label>
                <select id="pageSize" name="pageSize"
                        th:attrappend="hx-get=@{/medicalSlot-management/paginated(page = ${medicalSlotsPage.number})}"
                        hx-target="#medicalSlotsDatatable"
                        class="rounded-lg text-sm text-slate-500 border border-stroke py-1 outline-none focus:ring-2 hover:ring-gray-400 hover:ring-2 hover:border-white focus:border-white focus:ring-blue-500">
                    <option th:value="${10}" th:selected="${medicalSlotsPage.size == 10}">10</option>
                    <option th:value="${15}" th:selected="${medicalSlotsPage.size == 15}">15</option>
                    <option th:value="${30}" th:selected="${medicalSlotsPage.size == 30}">30</option>
                </select>
            </div>
            <div class="flex items-center">
                <button id="prevPage"
                        th:disabled="${!medicalSlotsPage.hasPrevious()}"
                        th:attrprepend="hx-get=@{/medicalSlot-management/paginated(page = ${medicalSlotsPage.number - 1})}"
                        hx-target="#medicalSlotsDatatable"
                        hx-include="[name='pageSize']"
                        hx-trigger="click"
                        class="inline-flex p-2 rounded-lg bg-slate-100 hover:bg-slate-200 disabled:opacity-50 disabled:cursor-not-allowed">
                    <span class="material-symbols-outlined">keyboard_double_arrow_left</span>
                </button>
                <span class="mx-2 text-sm text-slate-500">
                    Página <span id="currentPage" th:text="${medicalSlotsPage.number + 1}">1</span> de
                    <span th:text="${medicalSlotsPage.totalPages}">Muitos</span>
                </span>
                <button id="nextPage"
                        th:disabled="${!medicalSlotsPage.hasNext()}"
                        th:attrprepend="hx-get=@{/medicalSlot-management/paginated(page = ${medicalSlotsPage.number + 1})}"
                        hx-target="#medicalSlotsDatatable"
                        hx-include="[name='pageSize']"
                        hx-trigger="click"
                        class="inline-flex p-2 rounded-lg bg-slate-100 hover:bg-slate-200 disabled:opacity-50 disabled:cursor-not-allowed">
                    <span class="material-symbols-outlined">keyboard_double_arrow_right</span>
                </button>
            </div>
        </div>
    </div>
</body>
</html>