<aside x-data="{ open: true }"
       x-bind:class="open ? 'w-64' : 'w-16'"
       @mouseenter="open = true"
       @mouseleave="open = false"
       id="sidebar" th:fragment="sidebar"
       class="hidden flex-col absolute z-[9999] left-0 top-0 justify-between h-full pb-2.5 px-2 bg-slate-900 md:static md:flex overflow-auto transition-all duration-300 ease-in-out">
    
    <div class="flex flex-col h-screen justify-between flex-wrap overflow-hidden overscroll-contain">
        <div class="flex flex-col w-full h-24 justify-center items-center">

            <button @click="open = !open" x-show="!open" class="bg-white grid place-items-center h-6 w-6 text-slate-900 m-2 absolute rounded-full">
                <svg  class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
            </button>

            <div x-show="open" class="flex w-full h-20 gap-x-2 items-center justify-center bg-white rounded-md">
                <img class="max-w-36 transition-transform duration-300" th:src="@{/images/logo-prefeitura-h.png}" alt="logo-principal">
            </div>
        </div>

        <!--Buttons-Section--->
        <div class="flex flex-col flex-1 space-y-2.5 overflow-auto">
            <!--Dashboard Item-->
            <a th:href="@{/#}" class="text-sm bg-slate-950 inline-flex flex-nowrap items-center p-2.5 gap-x-2 tracking-wide rounded-lg text-white hover:bg-white hover:text-slate-900 overflow-hidden flex-shrink-0 min-h-10">
                <span  class="material-symbols-outlined inline-block align-middle ">dashboard</span>
                <span :class="open ? 'block' : 'hidden'" class="text-nowrap ">Dashboard</span>
            </a>

            <!--Queue Item-->
            <a  th:href="@{/queue-management/v2}" class="text-sm inline-flex flex-nowrap items-center p-2.5 gap-x-2 tracking-wide rounded-lg text-white hover:bg-white hover:text-slate-900 overflow-hidden flex-shrink-0 min-h-10">
                <span class="material-symbols-outlined inline-block align-middle hover:text-amber-500">patient_list</span>
                <span :class="open ? 'block' : 'hidden'" class="text-nowrap">Filas de Espera</span>
            </a>

            <!--            sec:authorize="hasRole(T(br.com.tecsus.sigaubs.utils.Constants).ADMINS)"-->
            <!--            sec:authorize="${hasRole(#vars.expectedRole)}"  teria q trazer uma var 'expectedRole' no Model -->
            <!--Contemplation Item-->
            <a th:href="@{/contemplation-management}" sec:authorize="hasAnyRole('ADMIN','SMS')" class="text-sm inline-flex flex-nowrap items-center p-2.5 gap-x-2 tracking-wide rounded-lg text-white hover:bg-white hover:text-slate-900 overflow-hidden flex-shrink-0 min-h-10">
                <span class="material-symbols-outlined inline-block align-middle hover:text-amber-500">groups</span>
                <span :class="open ? 'block' : 'hidden'" class="text-nowrap">Contemplados</span>
            </a>

            <!--MedicalSlot Item-->
            <a  th:href="@{/medicalSlot-management}" sec:authorize="hasAnyRole('ADMIN','SMS')" class="text-sm inline-flex flex-nowrap items-center p-2.5 gap-x-2 tracking-wide rounded-lg text-white hover:bg-white hover:text-slate-900 overflow-hidden flex-shrink-0 min-h-10">
                <span class="material-symbols-outlined inline-block align-middle hover:text-amber-500">note_stack_add</span>
                <span :class="open ? 'block' : 'hidden'" class="text-nowrap">Vagas Médicas</span>
            </a>

            <!--Appointment Item-->
            <a  th:href="@{/appointment-management}" class="text-sm inline-flex flex-nowrap items-center p-2.5 gap-x-2 tracking-wide rounded-lg text-white hover:bg-white hover:text-slate-900 overflow-hidden flex-shrink-0 min-h-10">
                <span class="material-symbols-outlined inline-block align-middle hover:text-red-600">heart_plus</span>
                <span :class="open ? 'block' : 'hidden'" class="text-nowrap">Marcação</span>
            </a>

            <!--New Patient Item-->
            <a th:href="@{/patient-management}" class="text-sm inline-flex flex-nowrap items-center p-2.5 gap-x-2 tracking-wide rounded-lg text-white hover:bg-white hover:text-slate-900 overflow-hidden flex-shrink-0 min-h-10">
<!--                <span class="material-symbols-outlined inline-block align-middle hover:text-blue-600">add</span>-->
                <span class="material-symbols-outlined inline-block align-middle hover:text-blue-600">personal_injury</span>
                <span :class="open ? 'block' : 'hidden'"  class="text-nowrap">Novo Paciente</span>
            </a>

            <!--Search Patient Item-->
            <a th:href="@{/patient-list}" class="text-sm inline-flex flex-nowrap items-center p-2.5 gap-x-2 tracking-wide rounded-lg text-white hover:bg-white hover:text-slate-900 overflow-hidden flex-shrink-0 min-h-10">
<!--                <span class="material-symbols-outlined inline-block align-middle hover:text-blue-600">search</span>-->
                <span class="material-symbols-outlined inline-block align-middle hover:text-blue-600">conditions</span>
                <span :class="open ? 'block' : 'hidden'"  class="text-nowrap">Buscar Pacientes</span>
            </a>

            <!--UBS Item-->
            <a  th:href="@{/basicHealthUnit-management}" sec:authorize="hasAnyRole('ADMIN','SMS')" class="text-sm inline-flex flex-nowrap items-center p-2.5 gap-x-2 tracking-wide rounded-lg text-white hover:bg-white hover:text-slate-900 overflow-hidden flex-shrink-0 min-h-10">
                <span class="material-symbols-outlined inline-block align-middle hover:text-blue-600">apartment</span>
                <span :class="open ? 'block' : 'hidden'">UBS</span>
            </a>

            <!--Specialty Item-->
            <a th:href="@{/specialty-management}" sec:authorize="hasAnyRole('ADMIN','SMS')" class="text-sm inline-flex flex-nowrap items-center p-2.5 gap-x-2 tracking-wide rounded-lg text-white hover:bg-white hover:text-slate-900 overflow-hidden flex-shrink-0 min-h-10">
                <span class="material-symbols-outlined inline-block align-middle hover:text-green-600">health_and_safety</span>
                <span :class="open ? 'block' : 'hidden'" class="text-nowrap">Especialidades</span>
            </a>

            <!--User Item-->
            <a  th:href="@{/systemUser-management}" sec:authorize="hasAnyRole('ADMIN','SMS')" class="text-sm inline-flex flex-nowrap items-center p-2.5 gap-x-2 tracking-wide rounded-lg text-white hover:bg-white hover:text-slate-900 overflow-hidden flex-shrink-0 min-h-10">
                <span class="material-symbols-outlined inline-block align-middle">account_circle</span>
                <span :class="open ? 'block' : 'hidden'" class="text-nowrap">Usuários</span>
            </a>

        </div>
        <!--Buttons-Section End----->
    </div>
    <div class="flex flex-col flex-1 mt-2.5 bg-white bg-opacity-5 rounded-lg">
        <a th:href="@{/logout}" class="text-sm inline-flex items-center flex-nowrap p-2.5 gap-x-2 tracking-wide rounded-lg text-white hover:bg-white hover:text-slate-900 overflow-hidden flex-shrink-0 min-h-10">
            <span class="material-symbols-outlined inline-block align-middle hover:text-red-500">logout</span>
            <p :class="open ? 'block' : 'hidden'" class="text-nowrap">Sair</p>
        </a>
    </div>
</aside>
