<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/template :: head}"></head>

<body class="flex w-full min-h-screen justify-between bg-slate-900">
    <nav th:replace="~{fragments/sidebar :: sidebar}"></nav>
    <main class="flex flex-col w-full mx-auto bg-slate-100">
        <header th:replace="~{fragments/header :: header}"></header>

        <th:block th:replace="~{fragments/dialogs :: confirmDialog}"></th:block>

        <div class="flex flex-1 bg-slate-100 my-8 flex-col space-y-4">
            <div class="w-full">
                <input type="checkbox" id="panel1" class="peer hidden" th:checked="${true}">
                <label for="panel1" class="block bg-gray-700 text-white p-4 cursor-pointer">
                    Filas de espera
                </label>
                <div
                    class="peer-checked:max-h-[2000px] max-h-0 overflow-hidden transition-max-height duration-500 ease-in-out">
                    <div class="p-4 bg-white border border-gray-300">
                        <div class="flex">
                            <form th:action="@{/queue-management/search}" th:method="get"
                                class="border border-black w-1/2">
                                <div class="flex w-full justify-start">
                                    <div class="mb-4 p-4">
                                        <label for="ubs"
                                            class="inline-flex text-sm font-medium text-gray-700">UBS:</label>
                                        <select id="ubs" th:name="basicHealthUnit"
                                            class="w-full mt-1 inline-flex p-2 bg-white border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
                                            required>
                                            <option th:value="${null}">Selecione</option>
                                            <option th:each="ubs : ${basicHealthUnits}" th:value="${ubs.id}"
                                                th:text="${ubs.name}" th:selected="${ubs.id == selectedUBS}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="mb-4 p-4">
                                        <label for="specialty"
                                            class="inline-flex text-sm font-medium text-gray-700">Especialidade:
                                        </label>
                                        <select id="specialty" th:name="specialty"
                                            class="w-full mt-1 inline-flex p-2 bg-white border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
                                            required>
                                            <option th:value="${null}">Selecione</option>
                                            <option th:each="specialty : ${specialties}" th:value="${specialty.id}"
                                                th:text="${specialty.title}"
                                                th:selected="${specialty.id == selectedSpecialty}"></option>
                                        </select>
                                    </div>
                                    <div class="ml-4 mt-11 flex justify-start h-1/2">
                                        <button type="submit"
                                            class="px-4 p-1.5 bg-blue-600 text-white font-medium rounded-md shadow-lg hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2 transition-colors duration-300">
                                            Pesquisar
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div id="statistics-panel" class="border border-black w-1/2 grid grid-cols-2"
                                th:classappend="${#lists.isEmpty(totalProceduresType)} ? 'hidden' : ''"
                                onmouseenter="showStatics(event)" onmouseleave="hideStatics()">
                                <th:block th:each="type : ${totalProceduresType}">
                                    <span class="font-semibold text-gray-700 text-right"
                                        th:text="${type.procedureType().getDescription()}"></span>
                                    <span class="px-4 py-2 text-gray-700 bg-gray-300 rounded-lg"
                                        th:text="${type.total + ' pacientes'}"></span>
                                </th:block>
                                <!--                                <span class="font-semibold text-gray-700 text-right">teste</span>-->
                                <!--                                <span class="px-4 py-2 text-gray-700 bg-gray-300 rounded-lg">10 pacientes</span>-->
                            </div>
                        </div>
                        <!-- Abas -->
                        <div class="flex space-x-4 border-b border-gray-300 mb-4 shadow-xl">
                            <button
                                class="tab-btn w-1/3 py-2 text-center bg-gray-300 hover:bg-gray-300 focus:outline-none"
                                onclick="showTab('consultas', this)">
                                Consultas
                            </button>
                            <button
                                class="tab-btn w-1/3 py-2 text-center bg-gray-200 hover:bg-gray-300 focus:outline-none"
                                onclick="showTab('exames', this)">
                                Exames
                            </button>
                            <button
                                class="tab-btn w-1/3 py-2 text-center bg-gray-200 hover:bg-gray-300 focus:outline-none"
                                onclick="showTab('cirurgias', this)">
                                Cirurgias
                            </button>
                        </div>
                        <!-- Conteúdo das abas -->
                        <div id="contentPanel">
                            <div id="consultas"
                                th:replace="~{queueManagement/queueFragments/queue-tabs :: consultas-datatable}"
                                class="tab-content p-4 bg-gray-100">
                                <p>Conteúdo da aba Consultas.</p>
                            </div>
                            <div id="exames"
                                th:replace="~{queueManagement/queueFragments/queue-tabs :: exames-datatable}"
                                class="tab-content p-4 bg-gray-100 hidden">
                                <p>Conteúdo da aba Exames.</p>
                            </div>
                            <div id="cirurgias"
                                th:replace="~{queueManagement/queueFragments/queue-tabs :: cirurgias-datatable}"
                                class="tab-content p-4 bg-gray-100 hidden">
                                <p>Conteúdo da aba Cirurgias.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full">
                <input type="checkbox" id="panel2" class="peer hidden" th:checked="${true}">
                <label for="panel2" class="block bg-gray-700 text-white p-4 cursor-pointer">
                    Histórico
                </label>
                <div
                    class="peer-checked:max-h-[2000px] max-h-0 overflow-hidden transition-max-height duration-500 ease-in-out">
                    <div class="p-4 bg-white border border-gray-300">

                    </div>
                </div>
            </div>
        </div>
        <div id="patientAppointment-modal"></div>
        <div id="default-modal" tabindex="-1" aria-hidden="true"
            class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-40 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-2xl max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <!-- Modal header -->
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                            Observações
                        </h3>
                        <button type="button"
                            onclick="this.parentElement.parentElement.parentElement.parentElement.classList.add('hidden')"
                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                            data-modal-hide="default-modal">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="p-4 md:p-5 space-y-4">
                        <p class="text-base leading-relaxed text-gray-900 dark:text-gray-100" id="modal-observacoes">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="marcacoes-stats"
            class="hidden absolute z-50 w-1/3 p-6 bg-white rounded-lg shadow-xl border border-gray-200 mt-2">
            <div class="grid grid-cols-2 gap-8">
                <!-- Coluna de Exames -->
                <div>
                    <h4 class="text-xl font-bold text-gray-900 mb-4">Exames</h4>
                    <div class="grid grid-cols-2">
                        <!-- Lista de exames será inserida aqui -->
                        <th:block th:each="exame : ${totalMedicalProcedures}">
                            <th:block
                                th:if="${exame.type().equals(T(br.com.tecsus.sigaubs.enums.ProcedureType).EXAME)}">
                                <span class="text-gray-700 flex-1" th:text="${exame.description}"></span>
                                <span class="text-gray-700 flex-1 text-right" th:text="${exame.total}"></span>
                            </th:block>
                        </th:block>
                    </div>
                </div>
                <!-- Coluna de Cirurgias -->
                <div>
                    <h4 class="text-xl font-bold text-gray-900 mb-4">Cirurgias</h4>
                    <div class="grid grid-cols-2">
                        <!-- Lista de cirurgias será inserida aqui -->
                        <th:block th:each="cirurgia : ${totalMedicalProcedures}">
                            <th:block
                                th:if="${cirurgia.type().equals(T(br.com.tecsus.sigaubs.enums.ProcedureType).CIRURGIA)}">
                                <span class="text-gray-700 flex-1" th:text="${cirurgia.description}"></span>
                                <span class="text-gray-700 flex-1 text-right" th:text="${cirurgia.total}"></span>
                            </th:block>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="csrfToken" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </main>
</body>
<script>

    //let reasonText;
    let ubsId;
    let specialtyId;
    let monthValue;
    let contemplationId;

    function showStatics(event) {
        // Verifica se o elemento pai (statistics-panel) está visível
        const panel = document.getElementById('statistics-panel');

        // Se o painel tiver a classe hidden, não mostra o modal
        if (panel.classList.contains('hidden')) {
            return;
        }

        const modal = document.getElementById('marcacoes-stats');
        const rect = event.target.getBoundingClientRect();

        // Remove a classe hidden do modal
        modal.classList.remove('hidden');

        // Calcula a posição do modal
        const modalWidth = modal.offsetWidth;
        const modalHeight = modal.offsetHeight;

        // Ajusta a posição baseada no espaço disponível na tela
        let left = event.clientX;
        let top = event.clientY;

        // Verifica se o modal vai ultrapassar a borda direita da tela
        if (left + modalWidth > window.innerWidth) {
            left = window.innerWidth - modalWidth - 10;
        }

        // Verifica se o modal vai ultrapassar a borda inferior da tela
        if (top + modalHeight > window.innerHeight) {
            top = window.innerHeight - modalHeight - 10;
        }

        // Aplica a posição
        modal.style.left = `${left}px`;
        modal.style.top = `${top}px`;
    }

    function hideStatics() {
        const modal = document.getElementById('marcacoes-stats');
        modal.classList.add('hidden');
    }

    // Event listener para mouse move
    document.addEventListener('mousemove', function (e) {
        const modal = document.getElementById('marcacoes-stats');
        if (!modal.classList.contains('hidden')) {
            const panel = document.getElementById('statistics-panel');

            // Se o painel estiver escondido, esconde o modal também
            if (panel.classList.contains('hidden')) {
                hideStatics();
                return;
            }

            const panelRect = panel.getBoundingClientRect();

            // Verifica se o mouse saiu da área do painel
            if (e.clientX < panelRect.left || e.clientX > panelRect.right ||
                e.clientY < panelRect.top || e.clientY > panelRect.bottom) {
                hideModal();
            }
        }
    });

    function showTab(tabId, clickedBtn) {
        // Esconde todos os conteúdos de aba
        document.querySelectorAll('.tab-content').forEach(function (content) {
            content.classList.add('hidden');
        });

        // Mostra o conteúdo da aba clicada
        document.getElementById(tabId).classList.remove('hidden');

        clickedBtn.closest('.flex').querySelectorAll('.tab-btn').forEach(function (btn) {
            btn.classList.remove('bg-gray-300');
            btn.classList.add('bg-gray-200');
        });
        clickedBtn.classList.remove('bg-gray-200');
        clickedBtn.classList.add('bg-gray-300');
    }

    function showModalTab(tabId, clickedBtn) {

        document.getElementById('patient-details').classList.add('hidden');
        document.getElementById('appointment-details').classList.add('hidden');
        document.getElementById('patientHistory-details').classList.add('hidden');

        // Mostra o conteúdo da aba clicada
        document.getElementById(tabId).classList.remove('hidden');

        clickedBtn.closest('.flex').querySelectorAll('.modal-tab-btn').forEach(function (btn) {
            btn.classList.remove('bg-slate-300');
            btn.classList.add('bg-slate-200');
        });
        clickedBtn.classList.remove('bg-slate-200');
        clickedBtn.classList.add('bg-slate-300');
    }

    function openModal(observacoes) {
        let modal = document.getElementById("default-modal");
        let modalObservacoes = modal.querySelector("#modal-observacoes")
        modalObservacoes.innerText = observacoes;
        modal.classList.remove("hidden");
        modal.classList.add("flex");
        modal.classList.add("opacity-100");
        console.log(observacoes)

    }

    function closeModal() {
        let modal = document.getElementById("patientAppointment-modal");
        modal.classList.add("opacity-0");
        modal.classList.add("hidden");
        modal.classList.remove("flex");
    }

    function handleContemplation() {
        let reasonText = "";

        Swal.fire({
            title: "Digite o motivo da contemplação",
            input: "textarea",
            inputPlaceholder: "Motivo...",
            showCancelButton: true,
            confirmButtonText: "Enviar",
            cancelButtonText: "Cancelar",
            inputAttributes: {
                maxlength: "255"
            },
            inputValidator: (value) => {
                if (!value) {
                    return "Você precisa digitar um motivo.";
                }
                reasonText = value; // Armazena o motivo para uso posterior
            }
        }).then(function (result) {
            if (result.isConfirmed) {
                Swal.fire({
                    title: "Digite a sua senha",
                    input: "password",
                    showCancelButton: true,
                    confirmButtonText: "Enviar",
                    cancelButtonText: "Cancelar",
                    inputValidator: (value) => {
                        if (!value) {
                            return "Você precisa digitar a senha.";
                        }

                        // Validação da senha com a resposta do servidor
                        return new Promise((resolve) => {
                            const formData = new URLSearchParams();
                            formData.append('password', value);
                            formData.append(
                                document.getElementById('csrfToken').name,
                                document.getElementById('csrfToken').value
                            );

                            fetch('/systemUser-management/validate', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/x-www-form-urlencoded'
                                },
                                body: formData
                            })
                                .then(response => {
                                    if (response.ok) {
                                        resolve(); // A senha é válida, o fluxo continua
                                    } else {
                                        response.text().then(errorText => resolve(errorText));
                                    }
                                })
                                .catch(error => {
                                    console.error('Erro ao validar senha:', error);
                                    resolve('Erro ao validar a senha. Tente novamente.');
                                });
                        });
                    }
                }).then(function (passwordResult) {
                    if (passwordResult.isConfirmed) {
                        // Define o valor do motivo no campo oculto do formulário
                        document.getElementById("reason").value = reasonText;
                        // Submete o formulário
                        document.getElementById("contemplationForm").submit();
                    }
                });
            }
        });
    }



    function handleConfirmation() {

        Swal.fire({
            title: "Confirmar contemplação",
            text: "Tem certeza que deseja continuar?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Sim",
            cancelButtonText: "Cancelar"
        }).then(function (result) {
            if (result.isConfirmed) {
                document.getElementById("confirmForm").submit();
            }
        });
    }


    document.addEventListener("htmx:confirm", function (evt) {
        // The event is triggered on every trigger for a request, so we need to check if the element
        // that triggered the request has a hx-confirm attribute, if not we can return early and let
        // the default behavior happen
        if (!evt.detail.target.hasAttribute('hx-confirm')) return

        // This will prevent the request from being issued to later manually issue it
        evt.preventDefault()

        Swal.fire({
            title: "Cancelar contemplação",
            text: `${evt.detail.question}`,
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Sim",
            cancelButtonText: "Cancelar"

        }).then(function (result) {
            if (result.isConfirmed) {
                Swal.fire({
                    title: "Digite o motivo do cancelamento",
                    input: "textarea",
                    inputPlaceholder: "Motivo...",
                    showCancelButton: true,
                    confirmButtonText: "Enviar",
                    cancelButtonText: "Cancelar",
                    inputAttributes: {
                        maxlength: "255"
                    },
                    inputValidator: (value) => {
                        if (!value) {
                            return "Você precisa digitar um motivo!"
                        }
                    }
                }).then(function (textResult) {
                    if (textResult.isConfirmed && textResult.value) {
                        reasonText = textResult.value;
                        ubsId = document.getElementById("ubs").value;
                        specialtyId = document.getElementById("specialty").value;
                        monthValue = document.getElementById("selectedMonth").value;
                        // Emite a requisição manualmente com o valor do motivo
                        evt.detail.issueRequest(true);
                    }
                });
            }
        })
    })
</script>

</html>