<div th:fragment="proceduresAndPriorities" id="selectProcedureAndPriority" class="flex flex-col w-full col-span-2 sm:col-span-2 lg:col-span-2">
    <div class="grid grid-cols-2 gap-2 gap-x-4">
        <div class="flex flex-col w-full">
            <label class="text-sm" for="medicalProcedure">Procedimento:</label>
            <select class="text-sm w-full rounded-lg border border-stroke py-2 pl-4 mt-1 outline-none focus:ring-2 hover:ring-gray-400 hover:ring-2 hover:border-white focus:border-white focus:ring-blue-500 transition duration-200"
                    id="medicalProcedure" name="medicalProcedure"
                    required>
                <option th:value="${null}">Selecione</option>
                <option th:each="procedure : ${procedures}"
                        th:value="${procedure.id}"
                        th:text="${procedure.description}"
                        th:selected="${isConsultation}"></option>
            </select>
        </div>
        <div class="flex flex-col w-full">
            <label class="text-sm" for="priority">Prioridade:</label>
            <select class="text-sm w-full rounded-lg border border-stroke py-2 pl-4 mt-1 outline-none focus:ring-2 hover:ring-gray-400 hover:ring-2 hover:border-white focus:border-white focus:ring-blue-500 transition duration-200"
                    id="priority" th:name="priority" required>
                <option th:value="${null}">Selecione</option>
                <option th:each="priority : ${priorities}"
                        th:value="${priority}"
                        th:text="${priority.description}"></option>
            </select>
        </div>
    </div>
</div>